<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<meta name="theme-color" content="#404855">
<link rel="icon" type="image/png" href="{{ 'assets/favi_16x16.png'|theme }}" sizes="16x16">
<link rel="icon" type="image/png" href="{{ 'assets/favi_32x32.png'|theme }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ 'assets/favi_96x96.png'|theme }}" sizes="96x96">

<meta name="description" content="{{ this.page.meta_description }}">

{% if this.page.url == '/' %}
    {% set title = 'XXXXXX' %}
{% else %}
    {% if this.page.meta_title %}
        {% set title = this.page.meta_title ~ ' · XXXXXX' %}
    {% else %}
        {% set title = this.page.title ~ ' · XXXXXX' %}
    {% endif %}
{% endif %}

<title>{{ title }}</title>

<link href="https://fonts.googleapis.com/css?family=Poppins|Bungee+Shade" rel="stylesheet">
<link href="{{ 'assets/main.css' | theme }}" rel="stylesheet">

{% styles %}
{% placeholder stylesheets %}

{% component 'snipcartDependencies' %}