<aside class="topbar">
    <div class="wrapper">
        <div class="topbar__left">
            <a href="mailto:info@offline.swiss" target="_blank">
                {{ 'topbar.contact'|_ }}
            </a>
        </div>
        <div class="topbar__center">
        </div>
        <div class="topbar__right snipcart-summary deferred-item">
            <a href="#" class="snipcart-user-email snipcart-user-profile">
                {{ 'topbar.customer_dashboard'|_ }}
            </a>
            <a href="#" class="snipcart-user-logout">
                | {{ 'topbar.logout'|_ }}
            </a>
        </div>
    </div>
</aside>