.cart
    display block
    position relative
    &__badge
        position absolute
        right 1em
        top .6em
        display inline-block
        padding 4px 5px 1px
        font-size .95em
        line-height 1
        color #fff
        border-radius 30%
        background primary-color
        width 20px

