.product-list
    .product
        lost-column 1/4
        a
            color inherit
        &__name
            font-weight 600
        &__description
            color #888
        &__price
            font-size 1.2em
            font-weight 600
            color primary-color
