.product
    &__images
        lost-column 1/2
    &__information
        lost-column 1/2
    &__main-image img
        max-width 100%
    &__image-grid > .product-image
        lost-column 1/5 5 10px
        img
            max-width 100%
    &__name
        font-weight 600
    &__description-short
        color #888
    &__price
        font-size 1.2em
        font-weight 600
        color primary-color
