.product-list
    .product
        lost-column 1/4
        a
            color inherit

        &__name
            font-weight 600

        &__description
            color #888

        &__image
            color #888
            height 280px
            lost-align center
            img
                max-width 100%

        &__price
            font-size 1.2em
            font-weight 600
            color primary-color

    .no-results
        lost-column 1/2
        lost-move 1/4
        background #eee
        padding 2em
        text-align center
        border 1px solid #dedede
        margin-top 3em
        border-radius 2px