.product-list
    .product
        lost-column 1/4
        a
            color inherit

        &__name
            font-weight 600

        &__description
            color #888

        &__image
            color #888
            height 280px
            lost-align center
            img
                max-width 100%

        &__price
            font-size 1.2em
            font-weight 600
            color primary-color
