/* Design
-------------------------------------------------- */
primary-color = #E74C3C
secondary-color = #2C3E50
ternary-color = #3498DB

/* Rupture Media Queries
-------------------------------------------------- */
rupture.anti-overlap = 1px
rupture.scale = 0px 320px 420px 700px 1000px 1220px 1600px
rupture.scale-names = 'xxs' 'xs' 's' 'm' 'l' 'xl' 'hd'

/* Misc
-------------------------------------------------- */
offscreen-nav-width = 220px


/* Bootstrap
-------------------------------------------------- */
// Common
$font-family-sans-serif = 'Poppins', 'Helvetica', Arial, sans-serif

$border-radius-base = 2px
$input-border-focus = primary-color
$pagination-color = primary-color
$pagination-active-bg = primary-color
$pagination-active-border = primary-color

// Forms
$state-danger-text = #db0100
$state-danger-border = $state-danger-text
$state-danger-bg = #f2dede

// Pagination
// $pagination-bg = transparent;
// $pagination-border = primary-color;
// $pagination-color = primary-color;
// $pagination-hover-color = primary-color;
// $pagination-hover-bg = transparent;
// $pagination-hover-border = primary-color;
// $pagination-active-bg = primary-color;
// $pagination-active-border = primary-color;