.main
    lost-utility clearfix
    padding 2em 0
    color #444
    min-height 60vh

.content
    lost-column 1/1
    font-size 1rem
    line-height 1.7
    margin-top .5em

    p
        margin 0 0 1em
